*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1024px;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
}
.landingpage-container{
    height: 100vh;
}

main{
    height: 72%;
    overflow: auto;
    margin-top: 15px;
    padding: 15px;
    
}

img{
    width: 200px;
}

.landing-page-para{
    line-height: 1.4;
    padding: 10px;
    text-align: left;
}

@media (min-width: 320px){
    h2{
        font-size: 1.5rem;
    }
    .landing-page-para{
        font-size: 12px;
    }
    
}

@media (min-width: 375px){
    .landing-page-para{
        font-size: 14px;
    }
    img{
        width: 225px;
    }
}
@media (min-width: 500px){
    .landing-page-para{
        font-size: 16px;
    }
    img{
        width: 250px;
    }
}
@media (min-width: 800px){
    .landing-page-para{
        font-size: 18px;
    }
    img{
        width: 400px;
    }
}

