.addworkout-container{
    height: 75vh;
}

form{
    height: 100%;
}

fieldset{
    height: 100%;
}

.button-container{
    margin-top: 10px;
}

button:hover{
    background: #282c34;
    color: whitesmoke;
}

button{
    
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
}

.form-input{
    padding: 3px;
    margin-bottom: 5px;
}