.addworkout-container{
    height: 100vh;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addworkout-fieldset{
    padding: 5px;
}


.button-container{
    margin-top: 10px;
}

button:hover{
    background: #282c34;
    color: whitesmoke;
}

button{
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
}

.form-input{
    padding: 3px;
    margin-bottom: 5px;
}


@media (min-width: 320px){
    .addworkout-fieldset{
        font-size: 1.3rem;
        width: 275px;
        height: 300px;
    }
    form{
        height: 79%;
    }

    .form-buttons{
        font-size: 1.2rem;
    }

}

@media (min-width: 375px){
    .addworkout-fieldset{
        font-size: 1.4rem;
        width: 275px;
        height: 300px;
    }
    form{
        height: 79%;
    }

    .form-buttons{
        font-size: 1.2rem;
    }

}

@media (min-width: 425px){
    .addworkout-fieldset{
        font-size: 1.5rem;
        width: 300px;
        height: 325px;
    }
    form{
        height: 79%;
    }

    .form-buttons{
        font-size: 1.2rem;
    }

}

@media (min-width: 600px){
    .addworkout-fieldset{
        font-size: 1.7rem;
        width: 325px;
        height: 375px;
    }
    form{
        height: 79%;
    }

    .form-buttons{
        font-size: 1.2rem;
    }

}
@media (min-width: 768px){
    .addworkout-fieldset{
        font-size: 1.7rem;
        width: 350px;
        height: 400px;
    }
    form{
        height: 79%;
    }

    .form-buttons{
        font-size: 1.2rem;
    }

}