*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.list-container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-info-container{
    height: 100vh;
}

.workoutinfo-list-item{
    height: 300px;
}

li{
    margin: 0;
    padding: 0;
}

.weight-suggestion{
    color: blue;
    font-size: small;
}