*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.list-container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-info-container{
    /* height: 100vh; */
}

.workout-fields{
    padding: 5px;
}

.workoutinfo-list-item{
    height: auto;
}

button{
    font-size: 1.2rem;
    margin-right: 5px;
    margin-bottom: 3px;
}

li{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.weight-suggestion{
    color: blue;
    font-size: small;
}

@media (min-width: 320px){
    li{
        font-size: 1.5rem;
    }

    button{
        font-size: 1.2rem;
    }
}
@media (min-width: 375px){
    li{
        font-size: 1.6rem;
    }

    button{
        font-size: 1.3rem;
    }
}
@media (min-width: 425px){
    li{
        font-size: 1.7rem;
    }

    button{
        font-size: 1.4rem;
    }
}