*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.workoutinfo-list-item{
    height: 322px;
}

li{
    margin: 0;
    padding: 0;
}

.weight-suggestion{
    color: blue;
    font-size: small;
}