*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.header-container{
    width: 100%;
    height: 100px;
}
.header-container{
    height: auto;
}

Header a{
    text-decoration: none;
    padding: 5px;
    color: white;
}

.enter-app{
    padding: 3px;
    border: 1px solid grey;
}


@media (min-width: 320px){
    
}