a{
    text-decoration: none;
}

.workoutPage-container{
    height: 100vh;
}

.your-workouts-container{
    height: 90%;
    margin-top: 5px;
}
#background-color{
    margin: 5px;
    background: url("../../Images/main-fitness-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.add-workout{
    margin-top: 3px;
    color: white;
    border-bottom: 1px solid white;
    padding: 3px;
}
.workout-title{
    color: white;
    display: inline-block;
    border-bottom: 1px solid grey;
    padding: 10px;
    margin-top: 5px;
    margin-right: 3px;
}

.workout-title:hover{
    color: black;
}

.edit-button{
    color: black;
    padding: 3px;
    border-bottom: 1px solid black;
    border-radius: 50%;
}

.edit-button:hover{
    color: white;
}
@media (min-width: 320px){
    .your-workouts-title{
        font-size: 1rem;
    }
    .edit-button{
        font-size: 8px;
    }
    
    .add-workout{
        font-size: 12px;
    }

    .workout-title{
        font-size: 1rem;
    }
}

@media (min-width: 375px){
    .your-workouts-title{
        font-size: 1.2rem;
    }
    .edit-button{
        font-size: 10px;
    }
    
    .add-workout{
        font-size: 12px;
    }

    .workout-title{
        font-size: 1.2rem;
    }
}
@media (min-width: 425px){
    .your-workouts-title{
        font-size: 1.2rem;
    }
    .edit-button{
        font-size: 12px;
    }
    
    .add-workout{
        font-size: 14px;
    }

    .workout-title{
        font-size: 1.2rem;
    }
}

@media (min-width: 768px){
    .your-workouts-title{
        font-size: 1.5rem;
    }
    .edit-button{
        font-size: 14px;
    }
    
    .add-workout{
        font-size: 1rem;
    }

    .workout-title{
        font-size: 1.5rem;
    }
}