a{
    text-decoration: none;
}


.your-workouts-container{
    height: 800px;
    overflow: auto;
    margin-top: 5px;
    z-index: 2;
}
#background-image{

    margin: 5px;
    background: url("../../Images/main-fitness-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#background-image::after{
    color: rgba(27, 19, 19, 0.721);
     width: 100%;
     height: 100%;
     position: absolute;
     content: '';
     top: 0;
     left:0;
     background: rgba(81, 153, 225, 0.3);
    z-index: 1;
}

.add-workout{
    margin-top: 3px;
    color: white;
    border-bottom: 1px solid white;
    padding: 3px;
    position: relative;
    z-index: 2;
}
.your-workouts-title{
    position: relative;
    z-index: 2;
    color: white;
}

.workout-title{
    position: relative;
    z-index: 2;
    color: white;
    display: inline-block;
    border-bottom: 1px solid grey;
    padding: 10px;
    margin-top: 5px;
    margin-right: 3px;
}

.workout-title:hover{
    color: lightblue;
}

.edit-button{
    position: relative;
    z-index: 2;
    color: white;
    padding: 3px;
    border-bottom: 1px solid black;
    border-radius: 50%;
    border-color: white;
}

.edit-button:hover{
    color: lightblue;
    border-color: lightblue;
}
@media (min-width: 320px){
    .your-workouts-title{
        font-size: 1rem;
    }
    .edit-button{
        font-size: 8px;
    }
    
    .add-workout{
        font-size: 12px;
    }

    .workout-title{
        font-size: 1rem;
    }
}

@media (min-width: 375px){
    .your-workouts-title{
        font-size: 1.2rem;
    }
    .edit-button{
        font-size: 10px;
    }
    
    .add-workout{
        font-size: 12px;
    }

    .workout-title{
        font-size: 1.2rem;
    }
}
@media (min-width: 425px){
    .your-workouts-title{
        font-size: 1.2rem;
    }
    .edit-button{
        font-size: 12px;
    }
    
    .add-workout{
        font-size: 14px;
    }

    .workout-title{
        font-size: 1.2rem;
    }
}

@media (min-width: 768px){
    .your-workouts-title{
        font-size: 1.5rem;
    }
    .edit-button{
        font-size: 14px;
    }
    
    .add-workout{
        font-size: 1rem;
    }

    .workout-title{
        font-size: 1.5rem;
    }
}